*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ==============HEADER================ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  background: #fff;
  flex-shrink: 0;
  justify-content: center;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-webstudio {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.studio-color {
  color: #2e2f42;
}

.page-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  justify-content: space-around;
  text-align: center;
  padding: 24px 0;
  display: block;
}

.header-nav-link:hover,
.header-nav-link:focus {
  text-decoration: underline;
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  display: flex;
}

.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  text-decoration: underline;
  color: #404bbf;
}

/** ============================== */

/** ==============HERO================ */

.hero-image {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: #2e2f42;
  text-align: center;
}

.hero-image-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-top: 188px;
  padding-bottom: 48px;
  max-width: 496px;
  text-align: center;
}

.hero-image-btn {
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-image-btn:hover,
.hero-image-btn:focus {
  background: #404bbf;
  text-decoration: underline;
}

/** ============================== */

/** ==============BENEFITS================ */

.benefits {
  width: 1128px;
  height: 104px;
  text-align: center;
  margin-top: 123px;
  margin-right: 156px;
  margin-left: 156px;
  margin-bottom: 120px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-shrink: 0;
  flex-basis: calc((100% - 24px) / 4);
  overflow: hidden;
}

.benefits-list-item {
  width: 264px;
  height: 104px;
  text-align: left;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/** ============================== */

/** ==============OUR TEAM================ */

.our-team {
  width: 1440px;
  height: 732px;
  background: #f4f4fd;
  text-align: center;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  text-align: center;
  margin-bottom: 120px;
}

.team-card-item {
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
}

.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/** ============================== */

/** ==============OUR PORTFOLIO================ */

.our-portfolio {
  text-align: center;
}

.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  text-align: center;
}

.project-cart-item {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
  margin-bottom: 48px;
}

.card-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  padding-top: 32px;
  padding-left: 16px;
}

.our-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 32px;
}

/** ============================== */

/** ==============FOOTER================ */

.footer {
  width: 1440px;
  height: 312px;
  background: #2e2f42;
}

.footer-container {
  padding-top: 100px;
  padding-right: 1020px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.logo-webstudio-footer {
  font-family: "Raleway", sans-mserif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.studio-color-footer {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
}

.logo-webstudio-footer {
  font-family: "Raleway", sans-mserif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.studio-color-footer {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
}
